<div class="oj-flex oj-sm-flex-direction-column">
    <div class="oj-flex-item">
         <div class="oj-flex oj-sm-justify-content-center">
            <div>
                <span>Profile Pic</span>
            </div>
         </div>
    </div>
    <div class="oj-flex-item">
        <div class="oj-flex-bar">
          <div class="oj-flex-bar-start">
            <span slot="endIcon" :class="[['oj-icon demo-appheader-avatar']]"></span>
          </div>
          <div class="oj-flex-bar-middle oj-sm-flex-direction-column" style="margin-left: 1rem;">
                <div>
                    <span>Name</span>
                </div>
                <div>
                    <span>ShivaKumar</span>
                </div>
        </div>
        </div>
   </div>
</div>