.oj-hybrid-applayout-page.login{
    /*background-image: url("images/jti.png");*/
    background-color: #5BA779;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: contain;
}

.oj-hybrid-applayout-page.login .oj-applayout-content.oj-complete {
    min-height: 100vh;
}

.oj-hybrid-applayout-page.login .oj-applayout-content.oj-complete .oj-hybrid-applayout-content{
    min-height: 100vh;
}

.oj-hybrid-applayout-page.login .jti-login-options {
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
}

.oj-hybrid-applayout-page.login .quote {
    background-image: url(../images/login-bg.jpg);
    background-size: cover;
    font-family: Cambay-Bold;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 5px;
    line-height: 48px;
    padding: 1rem;
    color: #000;
}

.oj-hybrid-applayout-page.login .jti-login-options .avatarset {
    display: inline-flex;
}

.oj-hybrid-applayout-page.login .jti-login-options .avatarset .user {
    /*margin: 10px;*/
    color: white;
    width: 150px;
}

.oj-hybrid-applayout-page.login .oj-hybrid {
    height: 100vh;
    align-items: center;
}

.oj-hybrid-applayout-page.login .floater {
    position: relative;
    /*top: 280px;*/
}


.oj-hybrid-applayout-page.login .jti-form-login-container {
    /*background-color: #ddd5;
    border-radius: 20px;
    padding: 1rem 2rem;
    text-align: center;*/
}

.oj-hybrid-applayout-page.login .jti-form-login-container oj-input-text, .oj-hybrid-applayout-page.login .jti-form-login-container oj-input-password {
    background: #FFFFFF;
    border: 1px solid #023A4D;
    border-radius: 4px;
    opacity: 0.6;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #023A4D;
    letter-spacing: 0;
    padding: 0 1rem;
}

.oj-hybrid-applayout-page.login .jti-form-login-container oj-button {
    display: flex;
    background: #00B2A9;
    border-radius: 4px;
    border-radius: 4px;
}

.oj-hybrid-applayout-page.login .jti-form-login-container oj-button .oj-button-button {
    color: white;
    border: none;
}



.oj-hybrid-applayout-page.login .jti-form-login-container .oj-form-layout {
    border-style: none;
}
.oj-hybrid-applayout-page.login .jti-form-login-container .oj-form-layout .oj-form > .oj-flex {
    border-style: none;
}

.jti-form-login-container .text-transform{
    text-transform: uppercase
}

#loginContainer .app-version {
    text-align: center;
    font-size: 10px;
    position: absolute;
    bottom: 5%;
}

    